@{
    ViewBag.Title = "Operas I Have Seen";
}


        
        <p>
            Welcome! On this site I'm going to discuss my hobby: listening
            to opera. Start by looking at the 
            @Html.ActionLink("operas I've seen.", "Index", "Opera")
        </p>
