@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>All Photos</title>
</head>
<body>
    <div>
        <h2>All Photos</h2>
        Menu: @Html.MvcSiteMap().Menu(false, false, true)
        Current Location: @Html.MvcSiteMap().SiteMapPath()

        <p>
            @Html.ActionLink("Add a Photo", "Create", "Photo")
        </p>

        @Html.Action("_PhotoGallery", "Photo")
    </div>
</body>
</html>
