@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Custom Error</title>
</head>
<body>
    <div>
        <h1>MVC Error</h1>
        Controller: @Model.ControllerName <br />
        Action: @Model.ActionName <br />
        Message: @Model.Exception.Message
    </div>
</body>
</html>
