@model IEnumerable<PhotoSharingApplication.Models.Photo>

@{
    ViewBag.Title = "Photo Index";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@Html.Action("_PhotoGallery", "Photo")


