@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>About</title>
</head>
<body>
    <div>
        <h1>
            About This Site
        </h1>
        <p>
            This is a site all about my hobby: watching operas.
        </p>
    </div>
</body>
</html>
