@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Operas I Have Seen</title>
</head>
<body>
    <div>
        <h1>Operas I Have Seen</h1>

        <p>
            Welcome! On this site I'm going to discuss my hobby: listening
            to opera. Start by looking at the 
            @Html.ActionLink("operas I've seen.", "Index", "Opera")
        </p>
    </div>
</body>
</html>
