@{
    ViewBag.Title = "Welcome to Adventure Works Photo Sharing";
}

<p>Welcome to Adventure Works Photo Sharing! Use this site to share your adventures.</p>
            
<h2>Latest Photos:</h2>

@Html.Action("_PhotoGallery", "Photo", new { number = 3 })
    
