<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://alistairsphotosharing.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>waws-prod-db3-001.publish.azurewebsites.windows.net:443</MSDeployServiceURL>
    <DeployIisAppPath>alistairsphotosharing</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <UserName>$alistairsphotosharing</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AzureAppServices" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:xt2qqpcdyy.database.windows.net,1433;Initial Catalog=PhotoSharingAppServices;Integrated Security=False;User ID=Alistair@xt2qqpcdyy;Password=Pa$$w0rd;Connect Timeout=30;Encrypt=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PhotoSharingApplication.Models.UsersContext, PhotoSharingApplication" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PhotoSharingApplication.Models.PhotoSharingContext" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:xt2qqpcdyy.database.windows.net,1433;Initial Catalog=PhotoSharingDB;User ID=Alistair@xt2qqpcdyy;Password=Pa$$w0rd" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="PhotoSharingApplication.Models.PhotoSharingContext, PhotoSharingApplication" Origin="Convention" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="PhotoSharingDB" Order="3" Enabled="False">
          <Destination Path="Data Source=tcp:xt2qqpcdyy.database.windows.net,1433;Initial Catalog=PhotoSharingDB;User ID=Alistair@xt2qqpcdyy;Password=Pa$$w0rd" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=&quot;tcp:{Your Azure Database URL},1433&quot;;Initial Catalog=PhotoSharingDB;Integrated Security=False;Persist Security Info=True;User ID=&quot;{Your ID Here}&quot;;Password=Pa$$w0rd;Connect Timeout=30;Encrypt=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\PhotoSharingDB_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Server=tcp:{Your Azure Database URL},1433;Database=PhotoSharingDB;User ID={Your ID Here};Password=Pa$$w0rd;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;PersistSecurityInfo=true" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)AzureAppServices-Web.config Connection String">
      <ParameterValue>Data Source=tcp:xt2qqpcdyy.database.windows.net,1433;Initial Catalog=PhotoSharingAppServices;Integrated Security=False;User ID=Alistair@xt2qqpcdyy;Password=Pa$$w0rd;Connect Timeout=30;Encrypt=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PhotoSharingApplication.Models.PhotoSharingContext-Web.config Connection String">
      <ParameterValue>Data Source=tcp:xt2qqpcdyy.database.windows.net,1433;Initial Catalog=PhotoSharingDB;User ID=Alistair@xt2qqpcdyy;Password=Pa$$w0rd</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)PhotoSharingDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:xt2qqpcdyy.database.windows.net,1433;Initial Catalog=PhotoSharingDB;User ID=Alistair@xt2qqpcdyy;Password=Pa$$w0rd</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="PhotoSharingApplication.Models.PhotoSharingContext" />
  </ItemGroup>
</Project>